
@{
    ViewData["Title"] = "Predict";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Prediction
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Predict Disease</h3>
                    </div>
                    <!-- /.box-header -->
                    <div id="prediction">
                        <div class="box-body">
                            <label for="Name">Enter symptom that's troubling you the most.</label>
                            <div class="input-group input-group-sm">

                                <input type="text" name="Name" id="Name" list="results" class="form-control">
                                <span class="input-group-btn">
                                    <button id="InitializePrediction" class="btn btn-info btn-flat">Go!</button>
                                </span>
                            </div>
                            <datalist id="results"></datalist>
                            <p id="error" class="text-danger"></p>
                        </div>
                    <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.box -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row-->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal modal-success fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <p>Data saved successfully, Do you want add new item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline" id="addNew">Add New</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal modal-danger fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>This name already exist, Please add another one and try again!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline " data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {
            $('#Name').keyup(delay(function (e) {
                $("#results").empty();
                var name = $('#Name').val();
                searchSymptom(name);
            }, 500));
            $(document).on("click", '#InitializePrediction', function () {
                var name = $('#Name').val();
                if (name) {
                    InitializePrediction(name);
                } else {
                    $("#error").empty();
                    $("#error").append("Please enter a symptom");
                }
            });
            $(document).on("click", '#StartPrediction', function () {
                var symptomId = $("input[name='SymptomId']:checked").val();
                if (symptomId) {
                    StartPrediction(symptomId);
                } else {
                    $("#error").empty();
                    $("#error").append("Please select a symptom");
                }
            });
            $(document).on("click", '#NotFounded', function () {
                var symptomId = $('#NotFounded').data("symptom");
                if (symptomId) {
                    StartPrediction(symptomId);
                } else {
                    $("#error").empty();
                    $("#error").append("error");
                }
            });
        })
    </script>
}

