/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* hide textarea */
.nicehide {
    display: block !important;
    position: absolute; /*Keep the object's original position*/
    width: 0 !important; /*It should be 0 width. Otherwise the object seems underneath of the editor */
    z-index: -1; /*Send the object to the bottom layer*/
}

